A:link {
	color: #bbb;
	text-decoration: none;
}

A:visited {
	color: #bbb;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #92C400;
	position: relative;
	top: -100px;
}

.baner {
	width: 800px;
	height: 220px;
	margin: 0px auto;
	background: url('http://www.encyclopedie-enligne.com/Images/2/200px-tux.png') top right no-repeat;
	position: relative;
	top: 100px;
	z-index: 2;
}

	.baner a {
	display: block;
	padding-top: 57px;
	font-size: 70px;
	color: #000;
	}

.main {
	width: 800px;
	margin: 0px auto -100px auto;
	font-family: Tahoma, Verdana, sans-serif, Helvetica;
  	font-size: 13px;
  	background-color: #FFF;
  	padding: 15px;
  	border-top: 1px solid #485F00;
  	border-left: 1px solid #485F00;
  	border-right: 1px solid #485F00; 
	z-index: 1;	  	
}

.notka {
	margin: 30px 0 30px 0;
}

	.notka .tytul {
		margin: 10px 0 4px 0;
		padding: 0;
	}
	
	.notka .data {
		margin-bottom: 20px;
	}
	
	.notka .tresc {
		padding-bottom: 30px;
		border-bottom: 1px solid #CCC;
		text-align: justify;
	}
