body {
	margin: 0;
	padding: 0;
}

.main {
	width: 800px;
	margin: 0px auto;
}

.notka {
	margin: 30px 0 30px 0;
}

	.notka .tytul {
		margin: 10px 0 4px 0;
		padding: 0;
	}
	
	.notka .data {
		margin-bottom: 20px;
	}
	
	.notka .tresc {
		padding-bottom: 30px;
		border-bottom: 1px solid #CCC;
	}

#credits {
	width: 100%;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #ddd;
}

A:link {
	color: #777;
	text-decoration: none;
}

A:visited {
	color: #777;
	text-decoration: none;
}
