body {
	margin: 0;
	padding: 0;
	background-color: #92C400;
	position: relative;
	top: -100px;
	background: #506a00 url('tlo.png') top left repeat-x;
}

.baner {
	width: 800px;
	height: 220px;
	margin: 0px auto;
	background: url('http://www.encyclopedie-enligne.com/Images/2/200px-tux.png') top right no-repeat;
	position: relative;
	top: 100px;
	z-index: 1;
}

	.baner a {
	display: block;
	padding-top: 57px;
	font-size: 70px;
	color: #000;
	text-decoration: none;
	}

.main {
	width: 800px;
	margin: 0px auto -100px auto;
	font-family: Tahoma, Verdana, sans-serif, Helvetica;
  	font-size: 13px;
  	background-color: #FFF;
  	padding: 15px;
  	border-top: 1px solid #485F00;
  	border-left: 1px solid #485F00;
  	border-right: 1px solid #485F00; 
}

	.notka {
		margin: 30px 0 30px 0;
	}

		.notka .tytul {
			margin: 10px 0 4px 0;
			padding: 0;
			position: relative;
			z-index: 2;
		}

			.notka .tytul a {
				color: #000;
				text-decoration: none;
			}
			
		.notka .info {
			margin-bottom: 20px;
			color: #CCC;
		}
			
			.notka .info .autor {
				position: relative;
				z-index: 2;
			}
			
			.notka .info .data {
				
				position: relative;
				z-index: 2;
			}
		
		.notka .tresc {
			padding-bottom: 30px;
			border-bottom: 1px solid #CCC;
			text-align: justify;
			line-height: 25px;
		}

			.notka .tresc a {
				color: #6B8F00;
				text-decoration: none;
			}
			
			.notka .tresc blockquote
				{
				border-left: 10px solid #91C300;
				padding-left: 15px;
				color: #5C4500;
				}
		
	.credits {
		color: #999;
		text-align: right;
	}
